{%- extends "partials/layout-two-thirds.njk" -%}

{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "partials/data-warning-banner/macro.njk" import dataWarningBanner -%}

{%- set pageTitle = "View prisoner finances" -%}
{%- set backUrl = "/" -%}

{% block contentHeader %}
  {{ dataWarningBanner(dataWarningBannerEnabled) }}
{% endblock %}

{% block innerContent %}

<div>

  <form method="POST" action="/prisoner" data-testid="find-prisoner-form" class="prisoner-search__form" >
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% set inputHeading %}
      <h3>Search for a prisoner</h3>
      <p class="govuk-!-margin-left-2">In {{currentCaseload}}</p>
      <span>Name or prison number</span>
    {% endset %}

    {{ govukInput({
      label: {
        html: inputHeading
      },
      id: "prisonNumber",
      name: "prisonNumber",
      classes: "govuk-input--width-10",
      attributes: {
        "data-testid": "prisoner-number-input"
      },
      errorMessage: { text: errorMap.prisonNumber } if errorMap.prisonNumber else null
    }) }}

    {{ govukButton({
      text: "Submit",
      type: "submit",
      attributes: {
        "data-testid": "submit-button"
      }
    }) }}
  </form>

</div>

{% endblock %}
